@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cabin&family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Cabin&family=Dosis:wght@300&family=League+Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: url("LandingPageBackground.png") no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 100%;
    margin: auto;
}

.navbar {
    font-family: "Poppins", sans-serif;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    height: 116px;
    position: sticky;
    color: white;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 95px 0px;
    position: sticky;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 6.2rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}



.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 33px;
    width: 47px;
    position: absolute;
    top: 50px;
    right: 100px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 33px;
    width: 47px;
    position: absolute;
    top: 50px;
    right: 100px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    color: white;
    margin-top: 481px;
    padding-top: 214px;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 50%);
    height: 123vh;
    width: 103%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    justify-content: space-evenly;
    background: url("menubackground.png") no-repeat center center fixed;
    background-size: cover;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.logo {
    position: absolute;
    top: 36px;
    left: 75px;
    font-size: 1.2rem;
}

.logo:hover {
    cursor: pointer;
}

.instagram:hover {
    cursor: pointer;
}

.twitter:hover {
    cursor: pointer;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(37deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-37deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}

h1 {
    font-size: 36px;
}

.instagram {
    display: block;
    position: absolute;
    right: 260px;
    margin-bottom: 26px;
}

.twitter {
    display: block;
    position: absolute;
    right: 344px;
    margin-bottom: 26px;
}

.fa-3x {
    font-size: 0.4em;
}

.LandingPage {
    font-family: 'Aclonica', sans-serif;
    display: flex;
    height: 80vh;
    color: white;
}

.infoContainer {
    
    height: 68vh;
    width: 100vw;
    margin: 53px auto;
    margin-top: 19vh;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.devPic img {
    width: 40vh;
}

.hello {
    font-size: 50px;
    padding-bottom: 22px;
}

.name {
    font-size: 80px;
    font-weight: 200;
    padding-bottom: 20px;
}

.about {
    font-size: 35px;
}

.scroll {
    display: flex;
    position: relative;
    justify-content: center;
    /* background-color: aquamarine; */
    z-index: -1;
    height: 19vh;
}



.works {
    padding: 106px 30px;
    margin-top: 179px;
}



.grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    grid-gap: 7vh 4vw;
    justify-content: center;
    align-items: baseline;
    height: 73vh;
}

.grid-row .grid-item span {
    padding: 12px;
    line-height: 1.5;
    font-weight: bold;
    font-size: large;
}

.grid-row .grid-item h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.grid-row .grid-item:hover {
    filter: contrast(0.7);
}

.grid-row .grid-item {
    transition: filter 0.5s ease;
    display: flex;
    cursor: pointer;
    background-color: #cdcdcd;
    box-shadow: 1px 2px 12px #3c3c3c;
    color: #0009fc;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    flex-direction: column-reverse;
    align-items: stretch;
    height: 58vh;
    border-radius: 28px;
}

.grid-item img {
    height: 41vh;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;

}

.infocontainer {
    height: 64vh;
    width: 95vw;
    margin: 53px auto;
    margin-top: 32vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    color: rgb(218, 218, 218);
}

.left-section {
    display: flex;
    flex-direction: column;
    width: 34vw;
    align-items: end;
}

.right-section {
    width: 46vh;
}

.right-section img {
    width: -webkit-fill-available;
}

.AboutMe {
    font-size: 83px;
    padding-bottom: 40px;
}

.desc {
    font-size: 36px;
    font-weight: 200;
    padding-bottom: 20px;
}

.pi {
    font-size: 27px;
    text-align: justify;
}

.getintouch {
    margin-top: 43vh;
    text-align: center;
    padding: 82px 18vw;
    color: #eeeeee;
}

.heading {
    font-size: 5em;
}

.lorem {
    font-size: 1.4em;
    margin-top: 19px;
}

.container2 {
    width: 80%;
    margin: auto;
    max-width: 796px;
    margin-bottom: 25vh;
}


.inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-row-gap: 39px;
    grid-column-gap: 43px;
    height: 23vh;
}


.box {
    color: #eeeeee;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(195, 217, 247, 0.2);
    box-shadow: 1px 2px 3px #3c3c3c;
    padding: 15px;
}

.box:hover {
    box-shadow: 1px 2px 17px #292626;
    transition-duration: 1s;
}

.icon {
    display: block;
    background-color: #e9eaff;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding: 12px;
    margin: 0 auto 10px auto;
}


.icon i {
    color: rgb(20, 20, 20);
    font-size: 2.2rem;
}

.aboutme{
    margin-top: 46vh;
}

.title {
    font-weight: normal;
    font-size: 1.7rem;
    padding-bottom: 0.5vh;
}

.fa-phone-rotary {
    color: black;
}

.min {
    font-size: 1rem;
    font-weight: lighter;
}
@media (max-width:1206px) and (min-width:791px) {
    .getintouch {
        padding: 107px 10vw;
        margin-top: 440px;
        
    }
    .aboutme{
        height: 81vh;
        padding-top: 25vh;
    }
    .pi{
        font-size: 24;
    }
    .desc{
        font-size: 30px;
    }
    
}
@media (max-width:791px) and (min-width:510px) {
    .LandingPage {
        margin-top: 115px;
    }

    .infocontainer {
        height: 64vh;
        width: 100vw;
    }

    .left-section {
        width: 82vw;
        align-items: center;
    }

    .desc {
        font-size: 26px;
    }

    .pi {
        font-size: 20px;
    }

    .right-section {
        display: none;
    }

   .lorem{
    font-size: 1.3em;
   }

   .heading {
    font-size: 4em;
}
    .getintouch{
        padding: 61px 6vw;
    }
    
.container2{
    align-items: center;
    display: grid;
    justify-items: center;
    margin-bottom: 69vh;
}
    .works {
        height: 226vh;
    }
    .AboutMe{
        margin-top: 6vh;
    }
    .aboutme{
        margin-top: 130vh;
    }
}

@media (max-width: 905px) {
    .LandingPage {
        margin-top: 115px;
    }

    
    .infoContainer {
        height: 64vh;
        width: 100vw;
        margin: 71px auto;
        display: flex;
        /* display: block; */
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .devInfo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;
        align-items: center;
    }

    .devPic img {
        box-shadow: rgb(0 0 0 / 20%) 0px 6px 101px 0px;
        width: 20vh;
    }

    .scroll {
        height: 84px;

    }

    .navbar .menu-items {
        height: 100vh;
        width: 105%;
        margin-top: 733px;
    }

    .about {
        font-size: 25px;
    }

    .hello {
        font-size: 40px;
    }

    .name {
        font-size: 48px;
    }


    .twitter {
        right: 33vw;
    }

    .instagram {
        right: 22vw;
    }

    .nav-container .hamburger-lines {
        right: 7vw;
    }

    .nav-container .checkbox {
        right: 7vw;
    }

    .navbar .menu-items {
        margin-top: 77vh;
        padding-top: 15vh;
        height: 123vh;
        width: 103%;
        height: 115vh;
        width: 105%;
    }

    .logo {
        left: 4vh;
        top: 45px;
    }

}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

@media (max-width: 510px){
    
    
    .right-section{
        display: none;
    }
    .container2{
        width: 52%;
        margin-bottom: 66vh;

    }
    .infocontainer{
        height: 64vh;
        width: 95vw;
        margin: 53px auto;
        margin-top: 32vh;
    }
    .left-section{
        width: 83vw;
        align-items: center;
    }
    .AboutMe{
    font-size: 48px;
    }
    .aboutme{
        margin-top: 130vh;
    }
    .desc{
        font-size: 24px;
    }
    .pi{
        font-size: 19px;
    }
    .getintouch{
        padding: 71px 5vw;
        margin-top: 0;
    }
    .heading {
        font-size: 3em;
    }
    .lorem{
        font-size: 1.3em;
    }
    .works{
        margin-top: 111px;
    }
    
}
@media (max-width: 480px) {
    .scroll {
        height: 84px;
    }

    .navbar .nav-container a {
        font-size: 4.2rem;
    }

    .navbar .menu-items {
        margin-top: 65vh;
        padding-top: 16vh;
        height: 123vh;
        width: 109%;
    }

    .about {
        font-size: 20px;
    }

    .hello {
        font-size: 22px;
    }

    .name {
        font-size: 24px;
    }


    .twitter {
        right: 33vw;
    }

    .instagram {
        right: 22vw;
    }

    .nav-container {
        height: 85px;
    }

    .nav-container .hamburger-lines {
        right: 4vw;
        height: 27px;
        width: 37px;
        top: 37px;
    }

    .nav-container .checkbox {
        right: 4vw;
        height: 27px;
        width: 37px;
        top: 37px;
    }

    .navbar .menu-items {
        width: 113%;
    }

    .logo {
        left: 2vh;
        top: 31px;
    }

    h1 {
        font-size: 26px;
    }

    .fa-3x {
        font-size: 0.3em;
    }

    .scroll {
        display: none;
    }
}



